body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-pink {
  background-color: #f073db;
}

.border-pink {
  border-color: #f64283!important;
}

.btn-pink {
  color: #fff;
  background-color: #f64283;
  border-color: #f64283;
}
